:root {
    --main-bg-color: #AEB4A9;
    --left-bg-color: #2B3A67;
    --right-bg-color: #66999B;
    --nav-bg-color: #CAD2C5;
    --bot-bg-color: #202030;
    --border-color: #3A3042;
    --text-color: #B47978;
}

body{
    font-family: 'Bitter', serif;
    background-color: var(--main-bg-color);
    padding-left: 5%;
    padding-right: 5%;
    background-image: radial-gradient(
        rgba(255,255,255,0.1) 9%,
        transparent 9%
    );
    /* background-image: url("/assets/images/space.jpg"); */
    background-size: 10vmin 10vmin;
    animation: background-pan 50s infinite linear;
}
a{
    text-decoration: none;
    color: inherit;
    margin: auto;
}
a:hover{
    color: yellowgreen;
    text-decoration-style: dotted;
    text-decoration: none;
}
h3, p{
    align-self: center;
}
@keyframes background-pan{
    0% {
        background-position: 200% 0%;
      }

    100% {
        background-position: 0% 0%;
    }
}
@keyframes reverse-background-pan{
    0% {
        background-position: 0% 0%;
      }

    100% {
        background-position: 200% 0%;
    }
}
div{
    height: max-content;
}
html{
    scroll-behavior: smooth;
}
nav a:hover {
    color: var(--right-bg-color);
}
h1,h2,h3,p,footer,.social-link{
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
}
img{
    object-fit: cover;
}
#center-pane{
    display: flex;
    flex-direction: column;
    opacity: 0.95;
}
#sides{
    position: relative;
    height: 50vw;
    width: 100%;
    overflow: hidden;
    padding: none;
    margin: none;
    opacity: inherit;
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
}
.side{
    height: inherit;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: absolute;
}
#left-side{
    background-color: var(--left-bg-color);
    z-index: 2;
}
#right-side{
    background-color: var(--right-bg-color);
    width: 100%;
    z-index: 1;
}
.fancy{
    padding-top: 2rem;
    font-size: 1.3em;
    line-height: 0.8em;
    color: white;
    background: linear-gradient(to right, gray, black, white, gray);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    background-size: 200%;
    animation: background-pan 3s linear infinite;
}
#right-fancy{
    animation: reverse-background-pan 3s linear infinite;
} 

#sides .title{
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    width: 65vw;
    user-select: none;
    -webkit-user-select: none;
}
#screen{
    height: 50vh;
    width: 100%;
    z-index: 0;
    aspect-ratio: 10 / 16;
    padding-top: 5vh;
    
    overflow: hidden;
    align-self: center;
}
#screen > img{
    border-radius: 1rem;
    height: 90%;
    width: 90%;
    object-fit: cover;
    overflow: hidden;
}
#about-text{
    padding-left: 2vw;
    padding-right: 2vw;
}
.blog-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.blog-text > p{
    display:inline-block;
    margin-left: 1em;
    margin-right: 1em;
}
.blog-title{
    font-size: 1.75rem;
    color: sienna;
    align-self: center;
}
.blog-title:hover{
    text-decoration-style: dotted;
}
.text-holder{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: inherit;
    align-self: center;
}
.bot-section{
    background-color: var(--bot-bg-color);
    opacity: 0.9;
    display: flex;
    height: 75dvh;
    width: 100%;
    align-items: center;
}
.bot-section > #screen{
    align-self: right;
}
.bot-half{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.bot-header{
    font-size: 2.5rem;
    border-bottom: 2px dashed white;
    width: 100%;
    height: 15vh;
    align-content: center;
}
.bot-header > h2, a{
    text-align: center;
}
.bot-body{
    display: flex;
    align-content: space-around;
    align-items: space-around;
    justify-content: space-around;
}
.blog-body{
    background-color: white;
    opacity: 0.65;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.blog-header-img{
    height: 50dvh;
    width: 100%;
    z-index: 0;
    aspect-ratio: 10/16;
    padding-top: 5dvh;

    overflow: hidden;
    align-self: center;
}

.blog-header-img > img{
    border-radius: 2rem;
    height: 90%;
    width: 90%;
    object-fit: cover;
    overflow: hidden;
}

.blog-body > p {
    padding: 2.5rem;
}

#resume-img{
    height: 100%;
    width: 100%;
}
#professional-section, #academic-section{
    direction: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#kwargs{
    border: 2px solid white;
    border-radius: 5vw;
    height: 15vw;
    align-self: center;
    display: flex;
}
#kwargs > a{
    color: white;
    font-size: 10vw;
    font-family: 'Space Mono', monospace;
    position: relative;
    top: 10%;
    opacity: 0.9;
    height: inherit;
    width: inherit;
}
#kwargs > a:hover{
    color: limegreen;
    text-decoration: none;
}
h2{
    user-select: none;
}
footer{
    background-color:#202030;
    height: 5vh;
    display: flex;
    border-top: 1px solid white;
}
footer > a{
    margin: 5px;
    padding-top: 10px;
    font-size: 1.0rem;
}
footer > p{
    margin: 5px;
    padding: 5px;
    font-size: 1.0rem;
    color: white;
}

#chess-link{
    color: skyblue;
}
a:hover{
    text-decoration: underline;
}
#blog-link{
    align-self: center;
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
    font-size: 2.5rem;
}

#bot-right{
    min-height: 100%;
    border-left: 2px dashed white;
}

.blog-box{
    width: 75%;
    height: 50vh;
    background-color: var(--main-bg-color);
    border: 1px solid #9b9b9b;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: 75%;
}

.blog-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
