:root {
    --main-bg-color: #AEB4A9;
    --left-bg-color: #2B3A67;
    --right-bg-color: #66999B;
    --nav-bg-color: #CAD2C5;
    --bot-bg-color: #202030;
    --text-color: #3A3042;
    --text-color: #B47978;
}
body{
    background-color: var(--main-bg-color);
    padding-left: 5%;
    padding-right: 5%;
    background-image: radial-gradient(
        rgba(255,255,255,0.1) 9%,
        transparent 9%
    );
    /* background-image: url("/assets/images/space.jpg"); */
    background-size: 10vmin 10vmin;
    animation: background-pan 50s infinite linear;
}
a{
    text-decoration: none;
    color: inherit;
    margin: auto;
}
h3, p{
    align-self: center;
}
@keyframes background-pan{
    0% {
        background-position: 200% 0%;
      }

    100% {
        background-position: 0% 0%;
    }
}
@keyframes reverse-background-pan{
    0% {
        background-position: 0% 0%;
      }

    100% {
        background-position: 200% 0%;
    }
}
div{
    height: max-content;
}
html{
    scroll-behavior: smooth;
}
nav a:hover {
    color: var(--right-bg-color);
}
h1,h2,h3,p,footer,.social-link{
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
}
#center-pane{
    display: flex;
    flex-direction: column;
    opacity: 0.95;
}
#sides{
    position: relative;
    height: 50vw;
    width: 100%;
    overflow: hidden;
    padding: none;
    margin: none;
    opacity: inherit;
}
.side{
    height: inherit;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: absolute;
}
#left-side{
    background-color: var(--left-bg-color);
    z-index: 2;
}
#right-side{
    background-color: var(--right-bg-color);
    width: 100%;
    z-index: 1;
}
.text-holder{
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
}
.fancy{
    font-size: 1.3em;
    line-height: 0.8em;
    color: white;
    background: linear-gradient(to right, gray, black, white, gray);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    background-size: 200%;
    animation: background-pan 3s linear infinite;
}
#right-fancy{
    animation: reverse-background-pan 3s linear infinite;
} 

#sides .title{
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 0px vw;
    width: 65vw;
    user-select: none;
    -webkit-user-select: none;
}
#screen{
    min-height: 25vw;
    width: 100%;
    z-index: 0;
    aspect-ratio: 10 / 16;
    border-radius: 1rem;
    overflow: hidden;
}
#screen > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-holder{
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: inherit;
    align-self: center;
}
.bot-section{
    background-color: var(--bot-bg-color);
    opacity: 0.9;
    display: flex;
    height: max-content;
    width: 100%;
}
.bot-section > #screen{
    align-self: right;
}
.bot-half{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bot-header{
    font-size: 2.5rem;
    border-bottom: 2px dashed white;
    width: 100%;
}
.bot-header > h2, a{
    text-align: center;
}
.bot-body{
    display: flex;
    align-content: space-around;
    align-items: space-around;
    justify-content: space-around;
}
#bot-left{
    border-bottom: 3px solid white;
}
#intern-logo{
    border: 5px solid white;
    order: 10;
}
#resume-img{
    width: 3vw;
    height: 3vh;
}
#professional-section, #academic-section{
    direction: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#kwargs{
    border: 2px solid white;
    border-radius: 5vw;
    height: 15vw;
    align-self: center;
    display: flex;
}
#kwargs > a{
    color: white;
    font-size: 10vw;
    font-family: 'Space Mono', monospace;
    position: relative;
    top: 10%;
    opacity: 0.9;
    height: inherit;
    width: inherit;
}
#kwargs > a:hover{
    color: limegreen;
}
h2{
    user-select: none;
}
footer{
    background-color:#202030;
    height: 5vh;
    display: flex;
}
footer > a{
    margin: 5px;
    padding: 5px;
    font-size: 1.0rem;
}
footer > p{
    margin: 5px;
    padding: 5px;
    font-size: 1.0rem;
    color: white;
}

#blog-link{
    align-self: center;
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
    font-size: 2.5rem;
}

.bot-header{
    border: 4px solid white;
}